server:
  port: 8761

spring:
  application:
    name: discovery-server

eureka:
  instance:
    hostname: 188.227.140.98
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info
