server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        # ÉPICA 1: Gestión de Usuarios y Comunidad
        - id: community-service
          uri: lb://community-service
          predicates:
            - Path=/api/auth/**,/api/users/**,/api/metrics/**,/api/ratings/**,/api/comments/**,/api/contact/**,/api/faq/**,/api/notifications/**

        # File Service - Gestión de archivos de audio e imágenes
        - id: file-service
          uri: lb://file-service
          predicates:
            - Path=/api/files/**
        # ÉPICA 2: Catálogo Musical y Contenido
        - id: music-catalog-service
          uri: lb://music-catalog-service
          predicates:
            - Path=/api/albums/**,/api/songs/**, /api/collaborations/**,/api/discovery/**,/api/genres/**
        
        # ÉPICA 3: Reproducción y Experiencia del Usuario

        # ÉPICA 4: Tienda, Carrito y Pagos
        - id: commerce-service
          uri: lb://commerce-service
          predicates:
            - Path=/api/products/**,/api/cart/**,/api/orders/**,/api/payments/**,/api/library/**,/api/receipts/**

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway

